/* fonts */
@font-face {
  font-family: Pixel;
  src: url(fonts/pixel.TTF);
}

/* root styles */

:root {
  --border-color: #144fc6;
  --fill-color: #6ab3f8;
  --glassBackground: #f8f8f8;
  --water: blue;
  --heading-color: #6af8d5;
}

* {
  box-sizing: border-box;
}

/* main styles */

body {
  background-image: url("leaves.png");
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: Pixel;
  color: var(--heading-color);
  font-size: 2rem;
}

/* large glass styles */

.glass {
  background-color: var(--glassBackground);
  color: var(--border-color);
  border: 4px solid var(--border-color);
  height: 330px;
  width: 150px;
  border-radius: 0 0 40px 40px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* small glass styles */

.glass.glass-sm {
  width: 50px;
  height: 95px;
  border-radius: 0 0 15px 15px;
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5px;
  transition: 0.3s ease; /* takes place when the user clicks */
}

.glass.glass-sm.full {
  background-color: var(--fill-color);
  color: #fff;
}

.glasses {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 280px;
}

.remaining {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1;
  transition: 0.3s ease; /* when the cup fills */
}

.percentage {
  background-color: var(--fill-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  height: 250px;
  transition: 0.3s ease;
  font-size: 30px;
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
}

.text {
  text-align: center;
  margin: 0 0 5px;
}
